<div id="sf">
  <div id="f_body"><div>
    <div id="sf_title">国有企业贯彻落实“国办发8号文件”情况调查问卷</div>
    <div id="sf_desc">
      <p>各有关企业：</p>
      <p class='p_content'>
        为跟踪了解《国务院办公厅关于强化企业技术创新主体地位全面提升企业创新能力的意见》（国办发〔2013〕8号，简称“国办发8号文件”）及相应政策措施在企业的落实情况，分析政策实施中存在的问题与不足，完善相关政策及操作办法，方便企业更好、更便捷地享受到政策优惠，我们设计了本问卷。请结合本企业实际情况认真、如实填写，于8月15日前登陆国家科技评估中心主页（http://www.ncste.org）在线提交。我们将妥善使用贵企业提供的宝贵信息，并保证不向任何无关机构或个人透漏。为确保问卷质量，建议由贵企业分管技术创新工作的人员填写。选择题部分，除另有说明外，均为单选。
      </p>
      <p class='p_contact'>
        <span>联 系 人：李睆玲</span>
        <span>联系电话：010-62169570</span>
        <span>传真号码：010-88232615</span>
        <span>通讯地址：北京市海淀区皂君庙乙7号（邮编：100081）</span>
        <span>衷心感谢您的支持与配合！</span>
      </p> 
      <div class='date'>
          <div>国家科技评估中心</div>
          <div>2014年7月18日</div>
      </div>
    </div>
    <div id="sf_main" class="sf_main_padding">
      <%= form_for(@answ) do |f| %>
      <!-- <div class="header"></div> -->
      <!-- <div class="s-title">国有企业贯彻落实“国办发8号文件”情况调查问卷</div> -->
      <div id="questions_con">
          <div class="q-filler q-paragraph paragraph_1">
            <div class="q-title">
              <span class="q-title-content fir_l"><span style="font-weight: bold;">一、基本信息</span></span>
            </div>
            <div class="q-note" style="display: none;">说明：</div>
            <div class="q-content"></div>
          </div>
          <div class="q-filler q-textblank">
            <span class="q-idx" style="display: none;">01</span>
            <div class="q-title">
              <span class="q-title-content">1.企业名称：</span>
              
              <span class="q-required" style="display: inline;">*</span>
              <span class="q-error"></span>
            </div>
            <div class="q-note" style="display: none;">说明：</div>
            <div class="q-content">
            <%= f.text_field :company%>
            </div>
          </div>
          <div class="q-filler q-choice">
            <span class="q-idx" style="display: none;">02</span>
            <div class="q-title">
              <span class="q-title-content">2.您企业所在的地区是：</span>
              
              <span class="q-required" style="display: inline;">*</span>
              <span class="q-error"></span>
            </div>
            <div class="q-note" style="display: none;">说明：</div>
            <div class="q-content">
              <%= select("answ", "address", Answ.add_list, { include_blank: false}) %>
            </div>
          </div>
          <div class="q-filler q-choice">
            <span class="q-idx" style="display: none;">03</span>
            <div class="q-title">
              <span class="q-title-content">3.企业所属技术领域：</span>
              
              <span class="q-required" style="display: inline;">*</span>
              <span class="q-error"></span>
            </div>
            <div class="q-note" style="display: none;">说明：</div>
            <div class="q-content">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :tech_domain, "电子信息"  %> 
                        <span>&nbsp;</span>
                        <p>电子信息</p>
                      </label>
                    </td>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :tech_domain, "生物医药技术（含农业、轻工）"  %> 
                        <span>&nbsp;</span>
                        <p>生物医药技术（含农业、轻工）</p>
                      </label>
                    </td>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :tech_domain, "新材料"  %> 
                        <span>&nbsp;</span>
                        <p>新材料</p>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :tech_domain, "光机电一体化"  %> 
                        <span>&nbsp;</span>
                        <p>光机电一体化</p>
                      </label>
                    </td>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :tech_domain, "新能源、高效能源"  %> 
                        <span>&nbsp;</span>
                        <p>新能源、高效能源</p>
                      </label>
                    </td>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :tech_domain, "环境保护"  %> 
                        <span>&nbsp;</span>
                        <p>环境保护</p>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :tech_domain, "航空航天"  %> 
                        <span>&nbsp;</span>
                        <p>航空航天</p>
                      </label>
                    </td>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :tech_domain, "地球、空间、海洋工程"  %>
                        <span>&nbsp;</span>
                        <p>地球、空间、海洋工程</p>
                      </label>
                    </td>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :tech_domain, "核应用技术"  %>
                        <span>&nbsp;</span>
                        <p>核应用技术</p>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :tech_domain, "其他高技术"  %>
                        <span>&nbsp;</span>
                        <p>其他高技术</p>
                      </label>
                    </td>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :tech_domain, "高技术研发业"  %>
                        <span>&nbsp;</span>
                        <p>高技术研发业</p>
                      </label>
                    </td>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :tech_domain, "高技术服务业"  %>
                        <span>&nbsp;</span>
                        <p>高技术服务业</p>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :tech_domain, "创意产业"  %>
                        <span>&nbsp;</span>
                        <p>创意产业</p>
                      </label>
                    </td>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :tech_domain, "非高技术"  %>
                        <span>&nbsp;</span>
                        <p>非高技术</p>
                      </label>
                    </td>
                    <td>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="q-filler q-choice">
            <span class="q-idx" style="display: none;">04</span>
            <div class="q-title">
              <span class="q-title-content">4.企业类型：</span>
              
              <span class="q-required" style="display: inline;">*</span>
              <span class="q-error"></span>
            </div>
            <div class="q-note" style="display: none;">说明：</div>
            <div class="q-content">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :company_type, "中央企业"  %>
                        <span>&nbsp;</span>
                        <p>中央企业</p>
                      </label>
                    </td>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :company_type, "地方国有企业"  %>
                        <span>&nbsp;</span>
                        <p>地方国有企业</p>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> 
          </div>
          <div class="q-filler q-choice">
            <span class="q-idx" style="display: none;">05</span>
            <div class="q-title">
              <span class="q-title-content">5.企业规模：</span>
              
              <span class="q-required" style="display: inline;">*</span>
              <span class="q-error"></span>
            </div>
            <div class="q-note" style="display: none;">说明：</div>
            <div class="q-content">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :company_size, "大型（从业人数≧1000人；年营业收入≧40000万元）"  %>
                        <span>&nbsp;</span>
                        <p>大型（从业人数≧1000人；年营业收入≧40000万元）</p>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="cust-option">
                        
                        <%= f.radio_button :company_size, "中型（300≦从业人数<1000人；2000万元≦年营业收入<40000万元）"  %>
                        <span>&nbsp;</span>
                        <p>中型（300≦从业人数&lt;1000人；2000万元≦年营业收入&lt;40000万元）</p>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="cust-option">
                        
                        <%= f.radio_button :company_size, "小型（20≦从业人数<300人；300万元≦年营业收入<2000万元）"  %>
                        <span>&nbsp;</span>
                        <p>小型（20≦从业人数&lt;300人；300万元≦年营业收入&lt;2000万元）</p>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="q-filler q-choice">
            <span class="q-idx" style="display: none;">06</span>
            <div class="q-title">
              <span class="q-title-content">6.贵企业在收到此问卷之前对国办发8号文件的了解程度：</span>
              
              <span class="q-required" style="display: inline;">*</span>
              <span class="q-error"></span>
            </div>
            <div class="q-note" style="display: none;">说明：</div>
            <div class="q-content">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :known_level, "比较了解，仔细阅读过"  %>
                        <span>&nbsp;</span>
                        <p>比较了解，仔细阅读过</p>
                      </label>
                    </td>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :known_level, "了解，曾经翻阅过"  %>
                        <span>&nbsp;</span>
                        <p>了解，曾经翻阅过</p>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :known_level, "听说过，但没翻阅过"  %>
                        <span>&nbsp;</span>
                        <p>听说过，但没翻阅过</p>
                      </label>
                    </td>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :known_level, "没听说过"  %>
                        <span>&nbsp;</span>
                        <p>没听说过</p>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="q-filler q-choice">
            <span class="q-idx" style="display: none;">07</span>
            <div class="q-title">
              <span class="q-title-content">
                6.1 通过哪些途径知晓8号文件（可多选）:【<span  class='ipt-desc'>
                <span style="font-weight: bold;">上一题选择“了解或听说过该文件”回答此题,选择“没听说过”不用作答</span></span>】
              </span>
              
              <span class="q-required" style="display: none;">*</span>
              <span class="q-error"></span>
            </div>
            <div class="q-note" style="display: none;">说明：</div>
            <div class="q-content">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <label class="cust-option">
                        <%= check_box("answ", "known_way", {:multiple => true}, "政府宣传",nil) %>
                        <span>&nbsp;</span>
                        <p>政府宣传</p>
                      </label>
                    </td>
                    <td>
                      <label class="cust-option">
                        <%= check_box("answ", "known_way", {:multiple => true}, "网络",nil) %>
                        <span>&nbsp;</span>
                        <p>网络</p>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="cust-option">
                        <%= check_box("answ", "known_way", {:multiple => true}, "报纸",nil) %>
                        <span>&nbsp;</span>
                        <p>报纸</p>
                      </label>
                    </td>
                    <td>
                      <label class="cust-option">
                        <%= check_box("answ", "known_way", {:multiple => true}, "中介机构",nil) %>
                        <span>&nbsp;</span>
                        <p>中介机构</p>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="cust-option">
                        <%= check_box("answ", "known_way", {:multiple => true}, "其他",nil) %>
                        <span>&nbsp;</span>
                        <p>其他（请具体说明）：</p>
                      </label>
                      <%= f.text_field "known_way_other"%>
                    </td>
                    <td>                    
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="q-filler q-choice">
            <span class="q-idx" style="display: none;">08</span>
            <div class="q-title">
              <span class="q-title-content">
                7.贵企业认为国办发8号文件的颁布实施，对强化我国企业技术创新主体地位、全面提升企业创新能力的意义和指导作用如何？:</span>
              
              <span class="q-required" style="display: inline;">*</span>
              <span class="q-error"></span>
            </div>
            <div class="q-note" style="display: none;">说明：</div>
            <div class="q-content">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :sense, "很大"  %>
                        <span>&nbsp;</span>
                        <p>很大</p>
                      </label>
                    </td>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :sense, "较大"  %>
                        <span>&nbsp;</span>
                        <p>较大</p>
                      </label>
                    </td>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :sense, "一般"  %>
                        <span>&nbsp;</span>
                        <p>一般</p>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :sense, "较小"  %>
                        <span>&nbsp;</span>
                        <p>较小</p>
                      </label>
                    </td>
                    <td>
                      <label class="cust-option">
                        <%= f.radio_button :sense, "很小"  %>
                        <span>&nbsp;</span>
                        <p>很小</p>
                      </label>
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>





        <div class="q-filler q-paragraph paragraph_2">
          <div class="q-title">
            <span class="q-title-content fir_l">
              <span style="font-weight: bold;">二、国办发8号文件相关政策措施落实情况：</span><br>
            </span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content"></div>
        </div>
        <div class="q-filler">
          <div class="q-title">
            <span class="q-title-content">
              <span style="font-weight: bold;">（一）进一步完善引导企业加大技术创新投入的机制</span><br>
            </span>
          </div>          
        </div>
        <div class="q-filler q-choice">
          <span class="q-idx" style="display: none;">09</span>
          <div class="q-title">
            <span class="q-title-content">1.企业是否制定了中长期技术创新发展规划：</span>
            
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content">
            <table>
              <tbody>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :plan,'是'  %>
                      <span>&nbsp;</span>
                      <p>是</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :plan,'否'  %>
                      <span>&nbsp;</span>
                      <p>否</p>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="q-filler q-choice">
          <span class="q-idx" style="display: none;">10</span>
          <div class="q-title">
            <span class="q-title-content">2.企业是否设立了专门的技术创新管理部门：</span>
            
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content">
            <table>
              <tbody>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :innovate,'是'  %>
                      <span>&nbsp;</span>
                      <p>是</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :innovate,'否'  %>
                      <span>&nbsp;</span>
                      <p>否</p>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class="q-filler q-choice">
          <span class="q-idx" style="display: none;">11</span>
          <div class="q-title">
            <span class="q-title-content">3.近三年研发投入是否逐年增加：</span>
            
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content">
            <table>
              <tbody>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :devotion,'是'  %>
                      <span>&nbsp;</span>
                      <p>是</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :devotion,'否'  %>
                      <span>&nbsp;</span>
                      <p>否</p>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class="q-filler q-numberblank">
          <span class="q-idx" style="display: none;">12</span>
          <div class="q-title">
            <span class="q-title-content">3.1 2013年本企业研发投入占销售收入的大致比例（可保留一位小数）:</span>
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content">
            <%= f.text_field "percent",{:maxlength => 5} %>
            <span style="margin-left: 10px;">%</span>
          </div>
        </div>

        <div class="q-filler q-choice">
          <span class="q-idx" style="display: none;">13</span>
          <div class="q-title">
            <span class="q-title-content">3.2 研发投入强度是否能够满足企业技术创新需求：</span>
            
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content">
            <table>
              <tbody>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :satisfy,'是'  %>
                      <span>&nbsp;</span>
                      <p>是</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :satisfy,'否'  %>
                      <span>&nbsp;</span>
                      <p>否</p>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="q-filler q-choice">
          <span class="q-idx" style="display: none;">14</span>
          <div class="q-title">
            <span class="q-title-content">4.企业是否曾牵头承担中央或地方财政资助的科技计划项目：</span>
            
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content">
            <table>
              <tbody>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :lead,'是'  %>
                      <span>&nbsp;</span>
                      <p>是</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :lead,'否'  %>
                      <span>&nbsp;</span>
                      <p>否</p>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="q-filler q-choice">
          <span class="q-idx" style="display: none;">15</span>
          <div class="q-title">
            <span class="q-title-content">5.企业是否支持科研项目经费后补助政策：</span>
            
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content">
            <table>
              <tbody>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :support,'是'  %>
                      <span>&nbsp;</span>
                      <p>是</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :support,'否'  %>
                      <span>&nbsp;</span>
                      <p>否</p>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class="q-filler q-textblank">
          <span class="q-idx" style="display: none;">16</span>
          <div class="q-title">
            <span class="q-title-content">5.1 您的企业支持该政策，对于政策实施有什么建议：【<span class='ipt-desc'><span style="font-weight: bold;">如果“支持”该政策，回答此题，“不支持”不用作答</span></span>】</span>
            
            <span class="q-required" style="display: none;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content"><%= f.text_field "suggest" %></div>
        </div>





        <div class="q-filler q-textblank">
          <span class="q-idx" style="display: none;">17</span>
          <div class="q-title">
            <span class="q-title-content">5.2您的企业不支持该政策，原因是：【<span class='ipt-desc'><span style="font-weight: bold;">如果“不支持”该政策，回答此题，“支持”不用作答</span></span>】</span>
            
            <span class="q-required" style="display: none;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content"><%= f.text_field "reason" %></div>
        </div>
  

        <div class="q-filler q-choice">
          <span class="q-idx" style="display: none;">18</span>
          <div class="q-title">
            <span class="q-title-content">6.中央或地方科技计划项目的征集或指南编制时是否征求企业有关专家意见：</span>
            
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content">
            <table>
              <tbody>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :seek,'是'  %>
                      <span>&nbsp;</span>
                      <p>是</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :seek,'否'  %>
                      <span>&nbsp;</span>
                      <p>否</p>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class="q-filler q-choice">
          <span class="q-idx" style="display: none;">19</span>
          <div class="q-title">
            <span class="q-title-content">7.相关部门考核本企业技术创新的经营业绩时，是否将研发投入视同利润纳入考核：</span>
            
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content">
            <table>
              <tbody>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :appraise,'是'  %>
                      <span>&nbsp;</span>
                      <p>是</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :appraise,'否'  %>
                      <span>&nbsp;</span>
                      <p>否</p>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="q-filler q-textblank">
          <span class="q-idx" style="display: none;">20</span>
          <div class="q-title">
            <span class="q-title-content"> 7.1对建立健全国有企业技术创新的经营业绩考核制度的建议：</span>
            
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content"><%= f.text_field "appra_suggest"%></div>
        </div>




        <div class="q-filler q-choice">
          <span class="q-idx" style="display: none;">21</span>
          <div class="q-title">
            <span class="q-title-content">8.贵企业在技术创新方面获得国有资本经营预算资金的支持情况：</span>
            
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content">
            <table>
              <tbody>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :cash_support,'支持力度很大'  %>
                      <span>&nbsp;</span>
                      <p>支持力度很大</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :cash_support,'支持力度较大'  %>
                      <span>&nbsp;</span>
                      <p>支持力度较大</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :cash_support,'支持力度一般'  %>
                      <span>&nbsp;</span>
                      <p>支持力度一般</p>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :cash_support,'支持力度较小'  %>
                      <span>&nbsp;</span>
                      <p>支持力度较小</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :cash_support,'未曾获得支持'  %>
                      <span>&nbsp;</span>
                      <p>未曾获得支持</p>
                    </label>
                  </td>
                  <td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="q-filler">
          <div class="q-title">
            <span class="q-title-content"><span style="font-weight: bold;">（二）支持企业建立研发机构</span></span>
          </div>
        </div>


        <div class="q-filler q-choice">
          <span class="q-idx" style="display: none;">22</span>
          <div class="q-title">
            <span class="q-title-content">9.贵企业是否建立了研发机构：</span>
            
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content">
            <table>
              <tbody>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :have_innovate,'是'  %>
                      <span>&nbsp;</span>
                      <p>是</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :have_innovate,'否'  %>
                      <span>&nbsp;</span>
                      <p>否</p>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="q-filler q-choice">
          <span class="q-idx" style="display: none;">23</span>
          <div class="q-title">
            <span class="q-title-content">9.1 贵企业拥有以下哪些国家级或省级的研发机构（可多选）：【<span class='ipt-desc'><span style="font-weight: bold;">上一道题选择“是”回答此题，选择“否”不用作答</span></span>】</span>
            
            <span class="q-required" style="display: none;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content">
            <table>
              <tbody>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= check_box("answ", "innovate_type", {:multiple => true,:class =>'innovate_type'}, "企业技术中心",nil) %>
                      <span>&nbsp;</span>
                      <p>企业技术中心</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= check_box("answ", "innovate_type", {:multiple => true,:class =>'innovate_type'}, "工程（技术）研究中心",nil) %>
                      <span>&nbsp;</span>
                      <p>工程（技术）研究中心</p>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= check_box("answ", "innovate_type", {:multiple => true,:class =>'innovate_type'}, "企业重点实验室",nil) %>
                      <span>&nbsp;</span>
                      <p>企业重点实验室</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= check_box("answ", "innovate_type", {:multiple => true,:class =>'innovate_type'}, "工程实验室",nil) %>
                      <span>&nbsp;</span>
                      <p>工程实验室</p>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= check_box("answ", "innovate_type", {:multiple => true,:class =>'innovate_type'}, "其他",nil) %>
                      <span>&nbsp;</span>
                      <p>其他（请具体说明）：</p>
                    </label>
                    <%= f.text_field "innovate_type_other" %>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= check_box("answ", "innovate_type", {:multiple => true,:class => 'last'}, "上述都没有",nil) %>
                      <span>&nbsp;</span>
                      <p>上述都没有</p>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>





        <div class="q-filler q-choice">
          <span class="q-idx" style="display: none;">24</span>
          <div class="q-title">
            <span class="q-title-content">9.2 如果本企业拥有国家重点实验、国家工程（技术）研究中心、国家认定的企业技术中心，是否享受了进口科技开发用品税收优惠政策：【<span class='ipt-desc'><span style="font-weight: bold;">如未拥有上述研发机构，不用作答</span></span>】</span>
            
            <span class="q-required" style="display: none;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content">
            <table>
              <tbody>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :prefer_policy,'从未申请过'  %>
                      <span>&nbsp;</span>
                      <p>从未申请过</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :prefer_policy,'申请过但未享受'  %>
                      <span>&nbsp;</span>
                      <p>申请过但未享受</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :prefer_policy,'申请过并已享受'  %>
                      <span>&nbsp;</span>
                      <p>申请过并已享受</p>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class="q-filler q-textblank">
          <span class="q-idx" style="display: none;">25</span>
          <div class="q-title">
            <span class="q-title-content">9.3  在申请和享受该项税收优惠政策过程中，存在的主要问题及建议：【<span class='ipt-desc'><span style="font-weight: bold;">如上题选择“从未申请过”，不用作答</span></span>】</span>
            
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content"><%= f.text_field "policy_problem" %></div>
        </div>

        <div class="q-filler">
          <div class="q-title">
            <span class="q-title-content"><span style="font-weight: bold;">（三）支持企业推进重大科技成果产业化</span></span>
          </div>
        </div>

        <div class="q-filler q-choice">
          <span class="q-idx" style="display: none;">26</span>
          <div class="q-title">
            <span class="q-title-content">10.贵企业在科技成果推广应用和产业化方面，获得国家或本地区相关政策支持情况：</span>
            
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content">
            <table>
              <tbody>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :support_action,'支持力度很大'  %>
                      <span>&nbsp;</span>
                      <p>支持力度很大</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :support_action,'支持力度较大'  %>
                      <span>&nbsp;</span>
                      <p>支持力度较大</p>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :support_action,'支持力度一般'  %>
                      <span>&nbsp;</span>
                      <p>支持力度一般</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :support_action,'支持力度较小'  %>
                      <span>&nbsp;</span>
                      <p>支持力度较小</p>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= f.radio_button :support_action,'未曾获得支持'  %>
                      <span>&nbsp;</span>
                      <p>未曾获得支持</p>
                    </label>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class="q-filler q-choice">
          <span class="q-idx" style="display: none;">27</span>
          <div class="q-title">
            <span class="q-title-content">11.贵企业更希望获得政府部门哪些方面的支持（可多选）：</span>
            
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content">
            <table>
              <tbody>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= check_box("answ", "support_facet", {:multiple => true}, "政策引导",nil) %>
                      <span>&nbsp;</span>
                      <p>政策引导</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= check_box("answ", "support_facet", {:multiple => true}, "财政资金支持",nil) %>
                      <span>&nbsp;</span>
                      <p>财政资金支持</p>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= check_box("answ", "support_facet", {:multiple => true}, "鼓励社会资本投入",nil) %>
                      <span>&nbsp;</span>
                      <p>鼓励社会资本投入</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= check_box("answ", "support_facet", {:multiple => true}, "政府采购",nil) %>
                      <span>&nbsp;</span>
                      <p>政府采购</p>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= check_box("answ", "support_facet", {:multiple => true}, "组织实施用户示范工程",nil) %>
                      <span>&nbsp;</span>
                      <p>组织实施用户示范工程</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <%= check_box("answ", "support_facet", {:multiple => true}, "完善技术转移和产业化服务体系",nil) %>
                      <span>&nbsp;</span>
                      <p>完善技术转移和产业化服务体系</p>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="cust-option">
                      <%= check_box("answ", "support_facet", {:multiple => true }, "其他",nil) %>
                      <span>&nbsp;</span>
                      <p>其他（请具体说明）：</p>
                    </label>
                    <%= f.text_field "support_facet_other" %>
                  </td>
                  <td>                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="q-filler">
          <div class="q-title">
            <span class="q-title-content"><span style="font-weight: bold;">（四）以企业为主导发展产业技术创新战略联盟</span></span>
          </div>
        </div>



        <div class="q-filler q-choice">
          <span class="q-idx" style="display: none;">28</span>
          <div class="q-title">
            <span class="q-title-content">12.贵企业是否牵头或参与本领域相关产业技术创新战略联盟：</span>
            
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content"><table><tbody><tr><td><label class="cust-option">
            <%= f.radio_button :innovate_union,'是'  %>
            <span>&nbsp;</span>
            <p>是</p>
          </label></td><td><label class="cust-option">
          <%= f.radio_button :innovate_union,'否'  %>
          <span>&nbsp;</span>
          <p>否</p>
        </label></td></tr></tbody></table></div>
      </div>


      <div class="q-filler q-choice">
        <span class="q-idx" style="display: none;">29</span>
        <div class="q-title">
          <span class="q-title-content">12.1 所在联盟更希望获得政府部门哪些方面的支持：【<span class='ipt-desc'><span style="font-weight: bold;">上一道题选择“是”回答此题，选择“否”不用作答</span></span>】</span>
          
          <span class="q-required" style="display: none;">*</span>
          <span class="q-error"></span>
        </div>
        <div class="q-note" style="display: none;">说明：</div>
        <div class="q-content"><table><tbody><tr><td><label class="cust-option">
          <%= check_box("answ", "union_support", {:multiple => true}, "承担产业技术研发创新重大项目",nil) %>
          <%#= f.radio_button :union_support,'承担产业技术研发创新重大项目'  %>
          <span>&nbsp;</span>
          <p>承担产业技术研发创新重大项目</p>
        </label></td><td><label class="cust-option">
        <%= check_box("answ", "union_support", {:multiple => true}, "参与制订技术标准",nil) %>
        <%#= f.radio_button :union_support,'参与制订技术标准'  %>
        <span>&nbsp;</span>
        <p>参与制订技术标准</p>
      </label></td></tr><tr><td><label class="cust-option">
      <%= check_box("answ", "union_support", {:multiple => true}, "参与编制产业技术路线图",nil) %>
      <%#= f.radio_button :union_support,'参与编制产业技术路线图'  %>
      <span>&nbsp;</span>
      <p>参与编制产业技术路线图</p>
    </label></td><td><label class="cust-option">
    <%= check_box("answ", "union_support", {:multiple => true}, "其他",nil) %>
    <%#= f.radio_button :union_support,'其他'  %>
    <span>&nbsp;</span>
    <p>其他（请具体说明）：</p>
  </label>
  <%= f.text_field "union_support_other" %>
  </td></tr></tbody></table></div>
</div>


<div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">30</span>
  <div class="q-title">
    <span class="q-title-content">12.2 贵企业认为政府部门倡导的以企业为主导发展产业技术创新联盟，其运行中存在的问题及建议:</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><%= f.text_field "gov_union_prob" %></div>
</div>

<div class="q-filler">
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（五）依托转制院所和行业领军企业构建产业共性技术研发基地</span></span>
  </div>
</div>

<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">31</span>
  <div class="q-title">
    <span class="q-title-content">13.贵企业是否为相关产业共性技术研发基地的依托单位：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= f.radio_button :rely_company, '是' %>
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :rely_company, '否' %>
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div>

<div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">32</span>
  <div class="q-title">
    <span class="q-title-content">13.1 在加强共性技术研发和成果推广扩散方面，得到了政府部门的哪些支持：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><%= f.text_field "what_support" %></div>
</div>


<div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">33</span>
  <div class="q-title">
    <span class="q-title-content">13.2 在产业共性技术研发基地建设、运行和技术扩散服务方面，存在的主要问题及建议：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><%= f.text_field "innovate_prob" %></div>
</div>

<div class="q-filler">
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（六）强化科研院所和高等学校对企业技术创新的源头支持</span></span>
  </div>
</div>


<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">34</span>
  <div class="q-title">
    <span class="q-title-content">14.贵企业与科研院所、高等学校开展技术创新合作，主要采取了哪些方式(可多选)：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= check_box("answ", "cooperate_type", {:multiple => true}, "共建研发机构",nil) %>
  <span>&nbsp;</span>
  <p>共建研发机构</p>
</label></td><td><label class="cust-option">
  <%= check_box("answ", "cooperate_type", {:multiple => true}, "共建学科专业",nil) %>
  <span>&nbsp;</span>
  <p>共建学科专业</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= check_box("answ", "cooperate_type", {:multiple => true}, "实施合作项目",nil) %>
  <span>&nbsp;</span>
  <p>实施合作项目</p>
</label></td><td><label class="cust-option">
  <%= check_box("answ", "cooperate_type", {:multiple => true}, "联合培养人才",nil) %>
  <span>&nbsp;</span>
  <p>联合培养人才</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= check_box("answ", "cooperate_type", {:multiple => true}, "其他",nil) %>
  <span>&nbsp;</span>
  <p>其他（请具体说明）：</p>
</label>
<%= f.text_field "cooperate_type_other"%>
</td><td></td></tr></tbody></table></div>
</div>



<div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">35</span>
  <div class="q-title">
    <span class="q-title-content">14.1 企业在与科研院所、高等学校开展技术创新合作方面，存在的主要问题及建议：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><%= f.text_field "cooperate_prob"%></div>
</div>

<div class="q-filler">
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（七）完善面向企业的技术创新服务平台</span></span>
  </div>
</div>

<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">36</span>
  <div class="q-title">
    <span class="q-title-content">15.贵企业是否享受过技术创新服务平台或科技中介服务机构提供的服务：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= f.radio_button :service_support, '是' %>
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :service_support, '否' %>
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div>


<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">37</span>
  <div class="q-title">
    <span class="q-title-content">15.1 贵企业没有享受过技术创新服务平台或科技中介服务机构提供的服务的原因是(可多选)：【<span class='ipt-desc'><span style="font-weight: bold;">上一道题选择“否”回答此题，选择“是”不用作答</span></span>】</span>
    
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= check_box("answ", "no_supp_reason", {:multiple => true}, "不了解相关政策",nil) %>
  <span>&nbsp;</span>
  <p>不了解相关政策</p>
</label></td><td><label class="cust-option">
  <%= check_box("answ", "no_supp_reason", {:multiple => true}, "不符合条件",nil) %>
  <span>&nbsp;</span>
  <p>不符合条件</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= check_box("answ", "no_supp_reason", {:multiple => true}, "申请手续繁琐",nil) %>
  <span>&nbsp;</span>
  <p>申请手续繁琐</p>
</label></td><td><label class="cust-option">
  <%= check_box("answ", "no_supp_reason", {:multiple => true}, "缺乏平台服务机构",nil) %>
  <span>&nbsp;</span>
  <p>缺乏平台服务机构</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= check_box("answ", "no_supp_reason", {:multiple => true}, "尚未建立服务机制",nil) %>
  <span>&nbsp;</span>
  <p>尚未建立服务机制</p>
</label></td><td><label class="cust-option">
  <%= check_box("answ", "no_supp_reason", {:multiple => true}, "其他",nil) %>
  <span>&nbsp;</span>
  <p>其他（请具体说明）： </p>
</label>
<%= f.text_field "no_supp_reason_other" %>
</td></tr></tbody></table></div>
</div>


<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">38</span>
  <div class="q-title">
    <span class="q-title-content">16.面向企业技术创新需求，建议平台加强的服务内容为(可多选)：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= check_box("answ", "service_content", {:multiple => true}, "研发设计",nil) %>
  <span>&nbsp;</span>
  <p>研发设计</p>
</label></td><td><label class="cust-option">
  <%= check_box("answ", "service_content", {:multiple => true}, "检验检测",nil) %>
  <span>&nbsp;</span>
  <p>检验检测</p>
</label></td><td><label class="cust-option">
  <%= check_box("answ", "service_content", {:multiple => true}, "技术转移",nil) %>
  <span>&nbsp;</span>
  <p>技术转移</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= check_box("answ", "service_content", {:multiple => true}, "大型共用软件",nil) %>
  <span>&nbsp;</span>
  <p>大型共用软件</p>
</label></td><td><label class="cust-option">
  <%= check_box("answ", "service_content", {:multiple => true}, "知识产权",nil) %>
  <span>&nbsp;</span>
  <p>知识产权</p>
</label></td><td><label class="cust-option">
  <%= check_box("answ", "service_content", {:multiple => true}, "标准",nil) %>
  <span>&nbsp;</span>
  <p>标准</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= check_box("answ", "service_content", {:multiple => true}, "质量品牌",nil) %>
  <span>&nbsp;</span>
  <p>质量品牌</p>
</label></td><td><label class="cust-option">
  <%= check_box("answ", "service_content", {:multiple => true}, "人才培训",nil) %>
  <span>&nbsp;</span>
  <p>人才培训</p>
</label></td><td><label class="cust-option">
  <%= check_box("answ", "service_content", {:multiple => true}, "其他",nil) %>
  <span>&nbsp;</span>
  <p>其他（请具体说明）：</p>
</label>
<%= f.text_field "service_content_other"%>
</td></tr></tbody></table></div>
</div>


<div class="q-filler">
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（八）加强企业创新人才队伍建设</span></span>
  </div>
</div>

<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">39</span>
  <div class="q-title">
    <span class="q-title-content">17.贵企业是否曾引进海外高层次人才：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  
  <%= f.radio_button :adv_person, '是' %>
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :adv_person, '否' %>
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div>


<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">40</span>
  <div class="q-title">
    <span class="q-title-content">17.1 企业在引进海外高层次人才时是否得到海外高层次人才引进计划、创新人才推进计划等政策支持：【<span class='ipt-desc'><span style="font-weight: bold;">17题选择“是”回答此题，选择“否”不用作答</span></span>】</span>
    
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= f.radio_button :adv_p_support, '是' %>
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :adv_p_support, '否' %>
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div>


<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">41</span>
  <div class="q-title">
    <span class="q-title-content">17.2 企业在引进海外高层次人才时没有得到海外高层次人才引进计划、创新人才推进计划等政策支持的原因是： 【<span class='ipt-desc'><span style="font-weight: bold;">17.1 题选择“否”回答此题，选择“是”不用作答</span></span>】</span>
    
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= f.radio_button :no_adv_reason, '不了解相关政策' %>
  <span>&nbsp;</span>
  <p>不了解相关政策</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :no_adv_reason, '不符合条件' %>
  <span>&nbsp;</span>
  <p>不符合条件</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= f.radio_button :no_adv_reason, '办理手续复杂' %>
  <span>&nbsp;</span>
  <p>办理手续复杂</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :no_adv_reason, '其他' %>
  <span>&nbsp;</span>
  <p>其他（请具体说明）：</p>
<%= f.text_field "no_adv_reason_other" %>
</label>
</td></tr></tbody></table></div>
</div>







<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">42</span>
  <div class="q-title">
    <span class="q-title-content">18.贵企业为吸引和凝聚创新人才，是否实施了股权或分红激励措施：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= f.radio_button :adv_reward, '是' %>
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :adv_reward, '否' %>
  <span>&nbsp;</span>
  <p>否（请说明原因）：</p>
</label>
<%= f.text_field "adv_reward_other" %>
</td></tr></tbody></table></div>
</div>

<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">43</span>
  <div class="q-title">
    <span class="q-title-content">18.1 实施股权或分红激励的主要原因是：【<span class='ipt-desc'><span style="font-weight: bold;">上一道题选择“是”回答此题，选择“否”不用作答</span></span>】</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= f.radio_button :reward_reason, '政策有要求' %>
  <span>&nbsp;</span>
  <p>政策有要求</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :reward_reason, '企业自身需求' %>
  <span>&nbsp;</span>
  <p>企业自身需求</p>
</label></td></tr></tbody></table></div>
</div>

<div class="q-filler">
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（九）推动科技资源开放共享</span></span>
  </div>
</div>

<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">44</span>
  <div class="q-title">
    <span class="q-title-content">19.本企业是否曾使用科研院所、高校、其他企业的科研设施和仪器设备等科技资源：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= f.radio_button :use_school, '是' %>
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :use_school, '否' %>
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div>

<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">45</span>
  <div class="q-title">
    <span class="q-title-content">19.1 本企业不曾使用科研院所、高校、其他企业的科研设施和仪器设备等科技资源的主要原因是：【<span class='ipt-desc'><span style="font-weight: bold;">上一道题选择“否”回答此题，选择“是”不用作答</span></span>】</span>
    
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= f.radio_button :no_use_school, '本单位没有相关需求' %>
  <span>&nbsp;</span>
  <p>本单位没有相关需求</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :no_use_school, '开放的资源不能满足本单位需求' %>
  <span>&nbsp;</span>
  <p>开放的资源不能满足本单位需求</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= f.radio_button :no_use_school, '缺乏开放共享机制' %>
  <span>&nbsp;</span>
  <p>缺乏开放共享机制</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :no_use_school, '手续繁琐' %>
  <span>&nbsp;</span>
  <p>手续繁琐</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= f.radio_button :no_use_school, '费用太高' %>
  <span>&nbsp;</span>
  <p>费用太高</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :no_use_school, '其他' %>
  <span>&nbsp;</span>
  <p>其他（请具体说明）：</p>
</label>
<%= f.text_field "no_use_school_other" %>
</td></tr></tbody></table></div>
</div>

<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">46</span>
  <div class="q-title">
    <span class="q-title-content">20.本企业拥有的主要以政府资金投资建设的科研设施和仪器设备等科技资源，外单位是否曾使用过：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  
  <%= f.radio_button :sent_out, '是' %>
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :sent_out, '否' %>
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div>

<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">47</span>
  <div class="q-title">
    <span class="q-title-content">20.1 本企业拥有的主要以政府资金投资建设的科研设施和仪器设备等科技资源，外单位不曾使用过的主要原因是：【<span class='ipt-desc'><span style="font-weight: bold;">上一道题选择“否”回答此题，选择“是”不用作答</span></span>】</span>
    
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  
  <%= f.radio_button :no_sent_out_res, '外单位没有相关需求' %>
  <span>&nbsp;</span>
  <p>外单位没有相关需求</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :no_sent_out_res, '开放的资源不能满足外单位需求' %>
  <span>&nbsp;</span>
  <p>开放的资源不能满足外单位需求</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= f.radio_button :no_sent_out_res, '缺乏开放共享机制' %>
  <span>&nbsp;</span>
  <p>缺乏开放共享机制</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :no_sent_out_res, '手续繁琐' %>
  <span>&nbsp;</span>
  <p>手续繁琐</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= f.radio_button :no_sent_out_res, '不适合对外开放' %>
  <span>&nbsp;</span>
  <p>不适合对外开放</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :no_sent_out_res, '其他' %>
  <span>&nbsp;</span>
  <p>其他（请具体说明）：</p>
</label>
<%= f.text_field "no_sent_out_res_other"%>
</td></tr></tbody></table></div>
</div>

<div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">48</span>
  <div class="q-title">
    <span class="q-title-content">20.2 目前公共科技资源开放共享方面存在的问题及建议： </span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><%= f.text_field "pub_tech_prob"%></div>
</div>



<div class="q-filler">
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（十）提升企业技术创新开放合作水平</span></span>
  </div>
</div>


<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">49</span>
  <div class="q-title">
    <span class="q-title-content">21.企业是否开展国际创新合作：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= f.radio_button :innovate_world, '是' %>
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :innovate_world, '否' %>
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div>

<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">50</span>
  <div class="q-title">
    <span class="q-title-content">21.1 企业开展国际创新合作采取了如下哪些形式(可多选)：【<span class='ipt-desc'><span style="font-weight: bold;">上一道题选择“是”回答此题，选择“否”不用作答</span></span>】</span>
    
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= check_box("answ", "world_type", {:multiple => true}, "人才引进",nil) %>
  <span>&nbsp;</span>
  <p>人才引进</p>
</label></td><td><label class="cust-option">
  <%= check_box("answ", "world_type", {:multiple => true}, "技术引进",nil) %>
  <span>&nbsp;</span>
  <p>技术引进</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= check_box("answ", "world_type", {:multiple => true}, "合作研发",nil) %>
  <span>&nbsp;</span>
  <p>合作研发</p>
</label></td><td><label class="cust-option">
  <%= check_box("answ", "world_type", {:multiple => true}, "委托研发",nil) %>
  <span>&nbsp;</span>
  <p>委托研发</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= check_box("answ", "world_type", {:multiple => true}, "建立联合研发中心或海外研发机构",nil) %>
  <span>&nbsp;</span>
  <p>建立联合研发中心或海外研发机构</p>
</label></td><td><label class="cust-option">
  <%= check_box("answ", "world_type", {:multiple => true}, "参股并购",nil) %>
  <span>&nbsp;</span>
  <p>参股并购</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= check_box("answ", "world_type", {:multiple => true}, "专利交叉许可",nil) %>
  <span>&nbsp;</span>
  <p>专利交叉许可</p>
</label></td><td><label class="cust-option">
  <%= check_box("answ", "world_type", {:multiple => true}, "参加国际标准组织，参与国际技术标准制修订",nil) %>
  <span>&nbsp;</span>
  <p>参加国际标准组织，参与国际技术标准制修订</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= check_box("answ", "world_type", {:multiple => true}, "其他",nil) %>
  <span>&nbsp;</span>
  <p>其他（请具体说明）：</p>
</label>
<%= f.text_field "world_type_other"%>
</td><td></td></tr></tbody></table></div>
</div>



<div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">51</span>
  <div class="q-title">
    <span class="q-title-content">21.2 企业在开展国际创新合作中，存在的问题和建议：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><%= f.text_field "world_problem" %></div>
</div>


<div class="q-filler">
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（十一）完善支持企业技术创新的财税金融等政策</span></span>
  </div>
</div>


<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">52</span>
  <div class="q-title">
    <span class="q-title-content">22.贵企业是否享受了企业研发费用加计扣除政策：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= f.radio_button :deduct_prolicy,'是'%>
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :deduct_prolicy,'否'%>
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div>


<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">53</span>
  <div class="q-title">
    <span class="q-title-content">22.1 该政策对促进贵企业加大研发投入的作用和影响：【<span class='ipt-desc'><span style="font-weight: bold;">22题选择“是”回答此题，选择“否”不用作答</span></span>】</span>
    
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= f.radio_button :deduct_usage,'很大'%>
  <span>&nbsp;</span>
  <p>很大</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :deduct_usage,'较大'%>
  <span>&nbsp;</span>
  <p>较大</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :deduct_usage,'一般'%>
  <span>&nbsp;</span>
  <p>一般</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= f.radio_button :deduct_usage,'较小'%>
  <span>&nbsp;</span>
  <p>较小</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :deduct_usage,'很小'%>
  <span>&nbsp;</span>
  <p>很小</p>
</label></td><td></td></tr></tbody></table></div>
</div>




<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">54</span>
  <div class="q-title">
    <span class="q-title-content">22.2 贵企业没有享受企业研发费用加计扣除政策的原因是(可多选)：【<span class='ipt-desc'><span style="font-weight: bold;">22题选择“否”回答此题，选择“是”不用作答，如选择“不知道该政策”，其他选项请勿再选</span></span>】</span>
    
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  
  <%= check_box("answ", "no_deduct_rea", {:multiple => true,:class =>'first'}, "不知道该政策",nil) %>
  <span>&nbsp;</span>
  <p>不知道该政策</p>
</label></td><td><label class="cust-option">
  <%= check_box("answ", "no_deduct_rea", {:multiple => true,:class =>'no_deduct_rea'}, "不符合政策条件",nil) %>
  <span>&nbsp;</span>
  <p>不符合政策条件</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= check_box("answ", "no_deduct_rea", {:multiple => true,:class =>'no_deduct_rea'}, "政策申请手续繁琐，申请成本高",nil) %>
  <span>&nbsp;</span>
  <p>政策申请手续繁琐，申请成本高</p>
</label></td><td><label class="cust-option">
  <%= check_box("answ", "no_deduct_rea", {:multiple => true,:class =>'no_deduct_rea'}, "认定部门（税务部门等）不认可企业研发费用",nil) %>
  <span>&nbsp;</span>
  <p>认定部门（税务部门等）不认可企业研发费用</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= check_box("answ", "no_deduct_rea", {:multiple => true,:class =>'no_deduct_rea'}, "对该政策没有需求或需求不强烈而未申请",nil) %>
  <span>&nbsp;</span>
  <p>对该政策没有需求或需求不强烈而未申请</p>
</label></td><td><label class="cust-option">
  <%= check_box("answ", "no_deduct_rea", {:multiple => true,:class =>'no_deduct_rea'}, "出于企业经营策略考虑（如经营业绩、保密需要等）而放弃申请",nil) %>
  <span>&nbsp;</span>
  <p>出于企业经营策略考虑（如经营业绩、保密需要等）而放弃申请</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= check_box("answ", "no_deduct_rea", {:multiple => true,:class =>'no_deduct_rea'}, "其他",nil) %>
  <span>&nbsp;</span>
  <p>其他（请具体指出）：</p>
</label>
<%= f.text_field "no_deduct_rea_other"%>
</td><td></td></tr></tbody></table></div>
</div>


<div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">55</span>
  <div class="q-title">
    <span class="q-title-content"> 22.3 您对进一步落实和完善企业研发费用加计扣除政策有何建议：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><%= f.text_field "deduct_suggest" %></div>
</div>


<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">56</span>
  <div class="q-title">
    <span class="q-title-content">23.贵企业是否享受了企业研发仪器设备加速折旧政策：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= f.radio_button :depreciation,'是' %>
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :depreciation,'否' %>
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div>

<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">57</span>
  <div class="q-title">
    <span class="q-title-content">23.1 该政策对促进贵企业增加科技开发、加快仪器设备更新换代的作用：【<span class='ipt-desc'><span style="font-weight: bold;">23题选择“是”回答此题，选择“否”不用作答</span></span>】</span>
    
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  
  <%= f.radio_button :deprecia_usage,'很大' %>
  <span>&nbsp;</span>
  <p>很大</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :deprecia_usage,'较大' %>
  <span>&nbsp;</span>
  <p>较大</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :deprecia_usage,'一般' %>
  <span>&nbsp;</span>
  <p>一般</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= f.radio_button :deprecia_usage,'较小' %>
  <span>&nbsp;</span>
  <p>较小</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :deprecia_usage,'很小' %>
  <span>&nbsp;</span>
  <p>很小</p>
</label></td><td></td></tr></tbody></table></div>
</div>


<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">58</span>
  <div class="q-title">
    <span class="q-title-content">23.2 贵企业没有享受企业研发仪器设备加速折旧政策的原因是（可多选）：【<span class='ipt-desc'><span style="font-weight: bold;">23题选择“否”回答此题，选择“是”不用作答，如选择“不知道该政策”，其他选项请勿再选</span></span>】</span>
    
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content">
    <table>
      <tbody>
        <tr>
          <td>
            <label class="cust-option">
              <%= check_box("answ", "no_deprecia", {:multiple => true,:class => 'first'}, "不知道该政策",nil) %>
              <%#= f.radio_button :no_deprecia,'不知道该政策' %>
              <span>&nbsp;</span>
              <p>不知道该政策</p>
            </label>
          </td>
          <td>
            <label class="cust-option">
              <%= check_box("answ", "no_deprecia", {:multiple => true,:class => 'no_deprecia'}, "不符合政策条件",nil) %>
              <%#= f.radio_button :no_deprecia,'不符合政策条件' %>
              <span>&nbsp;</span>
              <p>不符合政策条件</p>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="cust-option">
              <%= check_box("answ", "no_deprecia", {:multiple => true,:class => 'no_deprecia'}, "政策申请手续繁琐，申请成本高",nil) %>
              <%#= f.radio_button :no_deprecia,'政策申请手续繁琐，申请成本高' %>
              <span>&nbsp;</span>
              <p>政策申请手续繁琐，申请成本高</p>
            </label>
          </td>
          <td>
            <label class="cust-option">
              <%= check_box("answ", "no_deprecia", {:multiple => true,:class => 'no_deprecia'}, "对该政策没有需求或需求不强烈",nil) %>
              <%#= f.radio_button :no_deprecia,'对该政策没有需求或需求不强烈' %>
              <span>&nbsp;</span>
              <p>对该政策没有需求或需求不强烈</p>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="cust-option">
              <%= check_box("answ", "no_deprecia", {:multiple => true,:class => 'no_deprecia'}, "出于企业经营策略考虑（如国有资产保值增值、上市公司利润）而放弃申请",nil) %>
              <%#= f.radio_button :no_deprecia,'出于企业经营策略考虑（如国有资产保值增值、上市公司利润）而放弃申请' %>
              <span>&nbsp;</span>
              <p>出于企业经营策略考虑（如国有资产保值增值、上市公司利润）而放弃申请</p>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="cust-option">
              <%= check_box("answ", "no_deprecia", {:multiple => true,:class => 'no_deprecia'}, "其他",nil) %>
              <%#= f.radio_button :no_deprecia,'其他' %>
              <span>&nbsp;</span>
              <p>其他（请具体指出）：</p>
            </label>
            <%= f.text_field "no_deprecia_other"%>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">59</span>
  <div class="q-title">
    <span class="q-title-content">23.3 您对进一步落实和完善企业研发仪器设备加速折旧政策有何建议：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><%= f.text_field "deprec_suggest" %></div>
</div>



<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">60</span>
  <div class="q-title">
    <span class="q-title-content">24.贵企业是否为高新技术企业：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= f.radio_button :adv_company,'是' %>
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :adv_company,'否' %>
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div>

<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">61</span>
  <div class="q-title">
    <span class="q-title-content">24.1 贵企业是否享受了高新技术企业税收优惠（按15%的企业所得税率）政策：【<span class='ipt-desc'><span style="font-weight: bold;">上一道题选择“是”回答此题，选择“否”不用作答</span></span>】</span>
    
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= f.radio_button :adv_policy,'是' %>
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :adv_policy,'否' %>
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div>


<div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">62</span>
  <div class="q-title">
    <span class="q-title-content">24.2 您对高新技术企业认定工作，以及对改进和完善高企认定管理办法有何建议：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><%= f.text_field "adv_suggest" %></div>
</div>
<div class="q-filler">
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（十二）总体评价和建议</span></span>
  </div>
</div>

<div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">63</span>
  <div class="q-title">
    <span class="q-title-content">25.贵企业对国办发8号文件目前贯彻落实情况的总体评价：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>


  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <%= f.radio_button :state_rate,'很好' %>
  <span>&nbsp;</span>
  <p>很好</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :state_rate,'较好' %>
  <span>&nbsp;</span>
  <p>较好</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :state_rate,'一般' %>
  <span>&nbsp;</span>
  <p>一般</p>
</label></td></tr><tr><td><label class="cust-option">
  <%= f.radio_button :state_rate,'较差' %>
  <span>&nbsp;</span>
  <p>较差</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :state_rate,'很差' %>
  <span>&nbsp;</span>
  <p>很差</p>
</label></td><td><label class="cust-option">
  <%= f.radio_button :state_rate,'无法判断' %>
  <span>&nbsp;</span>
  <p>无法判断</p>
</label></td></tr></tbody></table></div>
</div>


<div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">64</span>
  <div class="q-title">
    <span class="q-title-content">26.您认为当前国有企业开展技术创新活动面临的主要问题和挑战：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><%= f.text_field "innovate_chan" %></div>
</div>

<div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">65</span>
  <div class="q-title">
    <span class="q-title-content">27.贯彻落实国办发8号文件存在的主要问题及有关建议：</span>
    
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><%= f.text_field "eight_suggest" %></div>
</div>


<div class="q-filler q-paragraph paragraph_13">
  <div class="q-title">
    <span class="q-title-content fir_l"><span style="font-weight: bold;">如方便请留下问卷填写人的联络信息，以便我们与您联系。</span></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"></div>
</div>


<div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">66</span>
  <div class="q-title">
    <span class="q-title-content">姓名：</span>
    
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><%= f.text_field "uname"%></div>
</div>


<div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">67</span>
  <div class="q-title">
    <span class="q-title-content">所在单位：</span>
    
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><%= f.text_field "u_company"%></div>
</div>


<div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">68</span>
  <div class="q-title">
    <span class="q-title-content">职务：</span>
    
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><%= f.text_field "position" %></div>
</div>


<div class="q-filler q-phoneblank">
  <span class="q-idx" style="display: none;">69</span>
  <div class="q-title">
    <span class="q-title-content">联系电话：</span>
    
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><%= f.text_field "tel" %></div>
</div>


<div class="q-filler q-emailblank bottom">
  <span class="q-idx" style="display: none;">70</span>
  <div class="q-title">
    <span class="q-title-content">电子信箱：</span>
    
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><%= f.text_field "email",{:placeholder => "例如：myemail@sina.com"}%></div>
</div>

</div>
<% end %>
    <div class="footer"></div>
  </div>
</div>
</div>

  <div id="page_buttons">
    <button id="next_btn">提交</button>
  </div>
<div id="sf_footer">
  <a href="/" target="_blank">技术支持 问卷吧</a>
  <div class="ad"></div>
</div>

</div>


<div id="alert_notice">
  <div class='review_answer_detail'> 
    <%#= render :partial  => "sf_main", :locals => { :answ => @answ } %>  
  </div>
  <div class='fancy-wra'>
    <div class='desc'>提交答案后将不能重修改答案,是否提交?</div>
    <button class='cancel'>取消</button>
    <button class='sub-btn'>提交</button>  
  </div>
</div>
